@model JoinAGameTable.ViewModels.Event.CreateNewEventViewModel

@{
    ViewBag.Title = "Proposer un évènement";
    Layout = "_Layout";
    ViewData["CurrentMenuActive"] = "create";
}

<h1>Proposer un évènement</h1>
<p>
    Vous avez un évènement ? Nous vous accompagnons tout au long du processus de création. Répondez simplement
    aux questions ci-dessous, vous pourrez tout éditer par la suite. Votre évènement ne sera pas mis en ligne
    tant que vous ne l'aurez pas décidé.
</p>
<br/>
<br/>
<form asp-action="POST_CreateNewEvent" method="post">
    <div asp-validation-summary="ModelOnly" class="fg-red"> </div>
    <div class="form-group">
        <label asp-for="Name">Quel est le nom de votre évènement ?</label>
        <input type="text" data-role="input" asp-for="Name" maxlength="50">
        <span asp-validation-for="Name" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Décrivez votre évènement</label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="BeginsAtDate">Quand commence t'il ?</label>
        <input type="text" data-role="datepicker" data-distance="2" data-format="%Y-%m-%d" asp-for="BeginsAtDate">
        <input type="text" data-role="timepicker" data-distance="2" data-seconds="false" asp-for="BeginsAtTime">
        <span asp-validation-for="BeginsAtDate" class="fg-red"></span>
        <span asp-validation-for="BeginsAtTime" class="fg-red"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndsAtDate">Quand se termine t'il ?</label>
        <input type="text" data-role="datepicker" data-distance="2" data-format="%Y-%m-%d" asp-for="EndsAtDate">
        <input type="text" data-role="timepicker" data-distance="2" data-seconds="false" asp-for="EndsAtTime">
        <span asp-validation-for="EndsAtDate" class="fg-red"></span>
        <span asp-validation-for="EndsAtTime" class="fg-red"></span>
    </div>
    <div class="form-group">
        <button class="button success">Continuer</button>
    </div>
    <br/>
</form>

<script>
    new SimpleMDE({
        element: document.getElementById("Description"),
    	spellChecker: false,
        promptURLs:true,
    	status: false,
    	insertTexts: {
            table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"]
    	},
    	shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        showIcons: ["code", "table"],
    	hideIcons: ["side-by-side", "fullscreen", "image"]
    });
</script>
