@{
    ViewData["Title"] = "Home Page";
    ViewData["CurrentMenuActive"] = "home";
}
<h1>&Eacute;vènements à l'affiche</h1>

<div class="d-flex flex-content-start flex-wrap flex-justify-start-md flex-justify-center-fs">
</div>
